PORT=8080
API_KEY=

DATABASE_URL=postgres://postgres:postgres@localhost:5432/github_notifier?sslmode=disable
REDIS_URL=redis://localhost:6379

GITHUB_TOKEN=

RESEND_API_KEY=
EMAIL_FROM=you@yourdomain.com

BASE_URL=http://localhost:8080
SCAN_INTERVAL=1h
